<div *ngIf="cartService.isCartVisible$ | async" 
         class="fixed top-20 right-4 z-50 bg-white shadow-lg w-80 overflow-hidden border-2 border-gray-300">
      <div *ngIf="cartService.cartItems$ | async as items">
        <div class="border-b">
          <div class="max-h-96 overflow-y-auto p-2">
            <div *ngFor="let item of items" class="p-4 border-b last:border-b-0">
              <div class="flex items-center gap-3">
                <img 
                  [src]="item.image.src" 
                  [alt]="item.name"
                  class="w-16 h-16 object-cover flex-shrink-0">
                <div class="flex-grow">
                  <p class="font-medium text-sm line-clamp-2">{{item.name}}</p>
                  <p class="text-sm mt-1">${{item.price}}</p>
                  <p class="text-sm mt-1">Quantity: {{item.quantity}}</p>
                </div>
                <button 
                  (click)="cartService.removeItem(item.id)"
                  class="text-gray-400 hover:text-gray-600">
                  <i class="fa-solid fa-times"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="p-4 bg-gray-50 flex justify-between items-center w-full" >
            <div>
              <p class="text-sm text-gray-600">Total: {{cartService.getTotalItems(items)}} items</p>
              <p class="font-bold">${{calculateTotal(items) | number:'1.2-2'}}</p>
            </div>
           
          </div>
          <div class="p-4 bg-gray-50 flex justify-between items-center ">
            <button 
            class="text-sm py-2 px-4  border-black border-solid border-2 hover:bg-gray-50 w-full"
            (click)="cartService.clearCart()">
            CLEAR
          </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="cartService.isCartVisible$ | async"
     class="fixed inset-0bg-opacity-50 z-40"
     (click)="cartService.hideCart()">
</div>